{% extends "base.html" %}
{% load static %}
    {% block Content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main class="price-wrap">
        <!-- Main hero START -->
        <section class="pt-0">
            <!-- Title and switch -->
            <div class="bg-dark position-relative pt-8 pt-xl-9 pb-7 pb-sm-8 px-4 px-md-0 overflow-hidden">
                <!-- SVG decoration -->
                <figure class="position-absolute top-0 start-0">
                    <svg class="opacity-2" width="1859" height="1775" viewBox="0 0 1859 1775" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g filter="url(#filter0_d_391_4)">
				<ellipse cx="929.5" cy="862.5" rx="754.5" ry="719.5" fill="url(#paint0_linear_391_4)" shape-rendering="crispEdges"/>
				</g>
				<g filter="url(#filter1_d_391_4)">
				<ellipse cx="929.5" cy="863" rx="585.5" ry="558" fill="url(#paint1_linear_391_4)" shape-rendering="crispEdges"/>
				</g>
				<g filter="url(#filter2_d_391_4)">
				<ellipse cx="929.5" cy="887.5" rx="909.329" ry="867.5" fill="url(#paint2_linear_391_4)" shape-rendering="crispEdges"/>
				</g>
				<defs>
				<filter id="filter0_d_391_4" x="155" y="123" width="1549" height="1479" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
				<feOffset/>
				<feGaussianBlur stdDeviation="10"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_391_4"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_391_4" result="shape"/>
				</filter>
				<filter id="filter1_d_391_4" x="324" y="285" width="1211" height="1156" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
				<feOffset/>
				<feGaussianBlur stdDeviation="10"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_391_4"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_391_4" result="shape"/>
				</filter>
				<filter id="filter2_d_391_4" x="0.171387" y="0" width="1858.66" height="1775" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
				<feOffset/>
				<feGaussianBlur stdDeviation="10"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_391_4"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_391_4" result="shape"/>
				</filter>
				<linearGradient id="paint0_linear_391_4" x1="929.5" y1="143" x2="929.5" y2="1582" gradientUnits="userSpaceOnUse">
				<stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.09"/>
				<stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint1_linear_391_4" x1="929.5" y1="305" x2="929.5" y2="1421" gradientUnits="userSpaceOnUse">
				<stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.07"/>
				<stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"/>
				</linearGradient>
				<linearGradient id="paint2_linear_391_4" x1="929.5" y1="20" x2="929.5" y2="1755" gradientUnits="userSpaceOnUse">
				<stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.1"/>
				<stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"/>
				</linearGradient>
				</defs>
			</svg>
                </figure>

                <div class="inner-container-small text-center position-relative mb-8">
                    <!-- Title -->
                    <h1 class="text-white mb-5">Choose the right plan for your business</h1>

                    <!-- Switch START -->
                    <form class="d-flex align-items-center justify-content-center mb-4 mb-xl-0">
                        <!-- Label -->
                        <span class="fw-semibold text-white">Monthly</span>
                        <!-- Switch -->
                        <div class="form-check form-switch form-check-lg mx-2 mb-0">
                            <input class="form-check-input mt-0 price-toggle" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                        <!-- Label -->
                        <div class="position-relative">
                            <span class="fw-semibold text-white">Yearly</span>
                            <span class="badge bg-danger position-absolute top-0 start-100 translate-middle mt-n2 ms-2 ms-md-5">20% save</span>
                        </div>
                    </form>
                    <!-- Switch END -->
                </div>
            </div>

            <!-- Pricing items START -->
            <div class="container mt-n9">
                <!-- Slider START -->
                <div class="swiper" data-swiper-options='{
			"slidesPerView": 1, 
			"spaceBetween": 30,
			"pagination":{
				"el":".swiper-pagination"
			},
			"breakpoints": {
				"576": {"slidesPerView": 1}, 
				"768": {"slidesPerView": 2}, 
				"992": {"slidesPerView": 3}
			}}'>

                    <!-- Slider items -->
                    <div class="swiper-wrapper align-items-center pt-5">
                        <!-- Item -->
                        <div class="swiper-slide">
                            <div class="card shadow border overflow-hidden p-0">
                                <!-- Card header -->
                                <div class="card-header border-bottom p-4">
                                    <!-- Icon -->
                                    <div class="icon-lg bg-light rounded-circle mb-3">
                                        <i class="bi bi-lightning-charge-fill fa-lg lh-1 heading-color"></i>
                                    </div>
                                    <!-- Title and price -->
                                    <h6 class="mb-3">Basic plan</h6>
                                    <p class="mb-0"> <span class="h2 mb-0 plan-price" data-monthly-price="$25" data-annual-price="$20">$25</span> /month</p>
                                    <small>Basic feature for up to 10 users</small>
                                </div>

                                <!-- Card body -->
                                <div class="card-body p-4">
                                    <div class="text-center text-lg-start">
                                        <!-- Small title -->
                                        <h6>Quick look at all the features</h6>

                                        <!-- List -->
                                        <ul class="list-group list-group-borderless mb-2 mb-sm-4">
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg text-primary me-1"></i>Up to 05 users monthly</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg text-primary me-1"></i>Free 5 host domain</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg text-primary me-1"></i>Google docs style editors</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg text-primary me-1"></i>Support for 30+ languages</li>
                                        </ul>
                                        <!-- Button -->
                                        <a href="#" class="btn btn-dark w-100">Get started</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="swiper-slide">
                            <div class="card border border-primary p-0">
                                <!-- Badge -->
                                <div class="bg-primary text-white rounded position-absolute top-0 start-50 translate-middle px-2 py-1 ">Most popular</div>

                                <!-- Card header -->
                                <div class="card-header bg-primary bg-opacity-10 border-bottom border-primary border-opacity-25 p-4">
                                    <!-- Icon -->
                                    <div class="icon-lg bg-primary bg-opacity-10 rounded-circle mb-3">
                                        <i class="bi bi-rocket-takeoff-fill fa-lg lh-1 text-primary"></i>
                                    </div>
                                    <!-- Title and price -->
                                    <h6 class="mb-3">Standard plan</h6>
                                    <p class="mb-0"> <span class="h2 mb-0 plan-price" data-monthly-price="$59" data-annual-price="$45">$59</span> /month</p>
                                    <small>Basic feature for up to 10 users</small>
                                </div>

                                <!-- Card body -->
                                <div class="card-body bg-primary bg-opacity-10 p-4">
                                    <div class="text-center text-lg-start">
                                        <h6 class="heading-color">Quick look at all the features</h6>
                                        <!-- List -->
                                        <ul class="list-group list-group-borderless mb-2 mb-sm-4">
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg heading-color me-1"></i>Up to 05 users monthly</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg heading-color me-1"></i>Free 5 host domain</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg heading-color me-1"></i>Google docs style editors</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg heading-color me-1"></i>Support for 30+ languages</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg heading-color me-1"></i>Landing pages Web widgets</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg heading-color me-1"></i>Landing pages Web widgets</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg heading-color me-1"></i>24/7 dedicated Support</li>
                                        </ul>
                                        <!-- Button -->
                                        <a href="#" class="btn btn-primary mb-0 w-100">Get started</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="swiper-slide">
                            <div class="card shadow border p-0">
                                <!-- Card header -->
                                <div class="card-header border-bottom p-4">
                                    <!-- Icon -->
                                    <div class="icon-lg bg-light rounded-circle mb-3">
                                        <i class="bi bi-send-fill fa-lg lh-1 heading-color"></i>
                                    </div>
                                    <!-- Title and price -->
                                    <h6 class="mb-3">Enterprise plan</h6>
                                    <p class="mb-0"> <span class="h2 mb-0 plan-price" data-monthly-price="$199" data-annual-price="$145">$199</span> /month</p>
                                    <small>Basic feature for up to 10 users</small>
                                </div>

                                <!-- Card body -->
                                <div class="card-body p-4">
                                    <div class="text-center text-lg-start">
                                        <!-- Small title -->
                                        <h6>Quick look at all the features</h6>

                                        <!-- List -->
                                        <ul class="list-group list-group-borderless mb-2 mb-sm-4">
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg text-primary me-1"></i>Up to 05 users monthly</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg text-primary me-1"></i>Free 5 host domain</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg text-primary me-1"></i>Google docs style editors</li>
                                            <li class="list-group-item d-flex heading-color mb-0"><i class="bi bi-check-lg text-primary me-1"></i>Support for 30+ languages</li>
                                        </ul>
                                        <!-- Button -->
                                        <a href="#" class="btn btn-dark w-100">Get started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Pagination -->
                    <div class="swiper-pagination swiper-pagination-primary position-relative mt-4"></div>
                </div>
                <!-- Slider END -->
            </div>
            <!-- Pricing items END -->
        </section>
        <!-- Main hero END -->

        <!-- Feature START -->
        <section class="pt-0">
            <div class="container">
                <div class="inner-container-small text-center mb-4 mb-sm-6">
                    <h2 class="mb-4">Features included in every plan</h2>
                    <p class="mb-0">Our passion for customer excellence is just one reason why we are the market leader. We've always worked very hard to give our customers the best experience.</p>
                </div>

                <!-- Feature item START -->
                <div class="row g-4 g-lg-5">
                    <!-- Item -->
                    <div class="col-md-4 text-center">
                        <div class="card card-body border bg-light">
                            <div class="icon-lg text-primary mx-auto mb-3"><i class="bi bi-clock fa-xl"></i></div>
                            <h6>Get started in a minutes</h6>
                            <p>We've made it effortless so you can focus on what matters most</p>
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="col-md-4 text-center">
                        <div class="card card-body border bg-light">
                            <div class="icon-lg text-primary mx-auto mb-3"><i class="bi bi-graph-up-arrow fa-xl"></i></div>
                            <h6>Optimize your revenue</h6>
                            <p>Experience power of revenue optimization to heights of success.</p>
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="col-md-4 text-center">
                        <div class="card card-body border bg-light">
                            <div class="icon-lg text-primary mx-auto mb-3"><i class="bi bi-headset fa-xl"></i></div>
                            <h6>24/7 customer supports</h6>
                            <p>Our dedicated support team is your inquiries around the clock.</p>
                        </div>
                    </div>
                </div>
                <!-- Feature item END -->

                <!-- Table START -->
                <div class="table-responsive-xl mt-5">
                    <table class="table table-border align-middle">
                        <!-- Head START -->
                        <thead class="align-top">
                            <tr>
                                <th scope="col"></th>

                                <th scope="col">
                                    <div class="text-center p-3">
                                        <span class="mb-3 heading-color">Basic plan</span>
                                        <p class="mb-3"> <span class="h2 mb-0 plan-price" data-monthly-price="$25" data-annual-price="$20">$25</span> /month</p>
                                        <a href="#" class="btn btn-sm btn-dark mb-0">Get started</a>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div class="text-center p-3">
                                        <span class="mb-3 heading-color">Standard plan</span>
                                        <p class="mb-3"> <span class="h2 mb-0 plan-price" data-monthly-price="$56" data-annual-price="$45">$56</span> /month</p>
                                        <a href="#" class="btn btn-sm btn-dark mb-0">Get started</a>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div class="text-center p-3">
                                        <span class="mb-3 heading-color">Basic plan</span>
                                        <p class="mb-3"> <span class="h2 mb-0 plan-price" data-monthly-price="$99" data-annual-price="$145">$99</span> /month</p>
                                        <a href="#" class="btn btn-sm btn-dark mb-0">Get started</a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <!-- Head END -->

                        <!-- Body START -->
                        <tbody class="border-top-0">
                            <!-- Item -->
                            <tr>
                                <th scope="row"><span class="fw-normal heading-color ps-lg-4 mb-0">Storage space</span></th>
                                <td class="text-center"> 40GB </td>
                                <td class="text-center"> 60GB </td>
                                <td class="text-center"> Unlimited </td>
                            </tr>

                            <!-- Item -->
                            <tr>
                                <th scope="row"><span class="fw-normal heading-color ps-lg-4 mb-0">Cloud connected</span></th>
                                <td class="text-center"> Yes </td>
                                <td class="text-center"> Yes </td>
                                <td class="text-center"> Yes </td>
                            </tr>

                            <!-- Item -->
                            <tr>
                                <th scope="row"><span class="fw-normal heading-color ps-lg-4 mb-0">Coding tools</span></th>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                            </tr>

                            <!-- Item -->
                            <tr>
                                <th scope="row"><span class="fw-normal heading-color ps-lg-4 mb-0">Advance debugging</span></th>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                            </tr>

                            <!-- Item -->
                            <tr>
                                <th scope="row"><span class="fw-normal heading-color ps-lg-4 mb-0">Mobile apps</span></th>
                                <td class="text-center text-danger"> <i class="bi bi-x-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i></td>
                            </tr>

                            <!-- Item -->
                            <tr>
                                <th scope="row"><span class="fw-normal heading-color ps-lg-4 mb-0">Web tools</span></th>
                                <td class="text-center text-danger"> <i class="bi bi-x-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i></td>
                            </tr>

                            <!-- Item -->
                            <tr>
                                <th scope="row"><span class="fw-normal heading-color ps-lg-4 mb-0">Version control</span></th>
                                <td class="text-center text-danger"> <i class="bi bi-x-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                            </tr>

                            <!-- Item -->
                            <tr>
                                <th scope="row"><span class="fw-normal heading-color ps-lg-4 mb-0">Security</span></th>
                                <td class="text-center text-danger"> <i class="bi bi-x-circle fa-lg"></i> </td>
                                <td class="text-center text-danger"> <i class="bi bi-x-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                            </tr>

                            <!-- Item -->
                            <tr>
                                <th scope="row"><span class="fw-normal heading-color ps-lg-4 mb-0">Team access</span></th>
                                <td class="text-center text-danger"> <i class="bi bi-x-circle fa-lg"></i> </td>
                                <td class="text-center text-danger"> <i class="bi bi-x-circle fa-lg"></i> </td>
                                <td class="text-center text-primary"> <i class="bi bi-check-circle fa-lg"></i> </td>
                            </tr>

                        </tbody>
                        <!-- Body END -->
                    </table>
                </div>
                <!-- Table END -->

            </div>
        </section>
        <!-- Feature END -->

        <!-- CTA START -->
        <section class="position-relative z-index-2 pt-0">
            <div class="container position-relative">
                <div class="bg-dark rounded position-relative overflow-hidden p-4 p-sm-7">
                    <!-- SVG decoration -->
                    <figure class="position-absolute top-0 start-0 mt-n5">
                        <svg class="fill-light" style="opacity:0.02" width="662" height="614" viewBox="0 0 662 614" xmlns="http://www.w3.org/2000/svg">
					<path d="M-78 0V603.815C-61.4821 612.795 -44.1025 615.867 -28.4464 611.85C9.04192 602.16 38.9177 554.186 58.4519 503.612C77.8424 453.511 90.1949 397.029 105.995 343.383C121.794 289.973 142.477 237.745 173.215 206.549C224.779 154.321 291.425 172.991 349.166 202.768C406.907 232.545 466.227 272.248 525.979 256.414C570.505 244.598 611.441 200.878 636.002 138.724C652.233 97.6029 661.138 48.9196 662 0L-78 0Z"></path>
				</svg>
                    </figure>

                    <!-- SVG decoration -->
                    <figure class="position-absolute top-0 end-0 mt-n8 me-n8">
                        <svg class="opacity-3" width="371" height="354" viewBox="0 0 371 354" fill="none" xmlns="http://www.w3.org/2000/svg">
					<ellipse cx="172.5" cy="176.5" rx="131.5" ry="125.5" fill="url(#paint0_linear_195_2)"></ellipse>
					<ellipse cx="185.5" cy="177" rx="185.5" ry="177" fill="url(#paint1_linear_195_2)"></ellipse>
					<defs>
					<linearGradient id="paint0_linear_195_2" x1="172.5" y1="51" x2="172.5" y2="302" gradientUnits="userSpaceOnUse">
					<stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.5"></stop>
					<stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"></stop>
					</linearGradient>
					<linearGradient id="paint1_linear_195_2" x1="185.5" y1="0" x2="185.5" y2="354" gradientUnits="userSpaceOnUse">
					<stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.2"></stop>
					<stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"></stop>
					</linearGradient>
					</defs>
				</svg>
                    </figure>

                    <div class="row g-4 position-relative">
                        <!-- Title and inputs -->
                        <div class="col-lg-10 col-xl-7 mx-auto text-center">
                            <!-- Title -->
                            <h3 class="text-white mb-3">Bring your productivity to next level</h3>
                            <p class="text-white opacity-8">The bore of true of no be deal. Drawings offended yet answered Jennings perceive laughing six did far. Points afraid but may end law lasted.</p>
                            <a href="#" class="btn btn-primary mb-md-5">Join our waitlist</a>

                        </div>

                        <!-- Client slider START -->
                        <div class="col-md-10 mx-auto">
                            <div class="swiper" data-swiper-options='{
						"loop": false, 
						"slidesPerView": 2, 
						"spaceBetween": 30,
						"breakpoints": { 
							"576": {"slidesPerView": 2}, 
							"768": {"slidesPerView": 3}, 
							"992": {"slidesPerView": 4}, 
							"1200": {"slidesPerView": 5}
						}}'>

                                <!-- Slider items -->
                                <div class="swiper-wrapper align-items-center">
                                    <!-- Image -->
                                    <div class="swiper-slide">
                                        <img src="{% static "theme-assets/images/client/05.svg" %}" class="grayscale px-sm-3 ps-0" alt="client-img">
                                    </div>
                                    <!-- Image -->
                                    <div class="swiper-slide">
                                        <img src="{% static "theme-assets/images/client/01.svg" %}" class="grayscale px-sm-3" alt="client-img">
                                    </div>
                                    <!-- Image -->
                                    <div class="swiper-slide">
                                        <img src="{% static "theme-assets/images/client/02.svg" %}" class="grayscale px-sm-3" alt="client-img">
                                    </div>
                                    <!-- Image -->
                                    <div class="swiper-slide">
                                        <img src="{% static "theme-assets/images/client/03.svg" %}" class="grayscale px-sm-3" alt="client-img">
                                    </div>
                                    <!-- Image -->
                                    <div class="swiper-slide">
                                        <img src="{% static "theme-assets/images/client/04.svg" %}" class="grayscale px-sm-3" alt="client-img">
                                    </div>
                                    <!-- Image -->
                                    <div class="swiper-slide">
                                        <img src="{% static "theme-assets/images/client/06.svg" %}" class="grayscale px-sm-3" alt="client-img">
                                    </div>
                                    <!-- Image -->
                                    <div class="swiper-slide">
                                        <img src="{% static "theme-assets/images/client/07.svg" %}" class="grayscale px-sm-3" alt="client-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Client slider END -->

                    </div>
                    <!-- Row END -->
                </div>
            </div>
        </section>
        <!-- CTA END -->

        <!-- Faqs START -->
        <section class="pt-0">
            <div class="container">
                <div class="row">

                    <div class="col-md-7 mx-auto">
                        <!-- Title -->
                        <h2 class="mb-5 text-center">You have questions we have answers</h2>

                        <!-- Accordion START -->
                        <div class="accordion accordion-icon accordion-bg-light" id="accordionFaq">
                            <!-- Item -->
                            <div class="accordion-item mb-3">
                                <div class="accordion-header font-base" id="heading-1">
                                    <button class="accordion-button fw-semibold rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
								How many items are there on this list?
							</button>
                                </div>
                                <!-- Body -->
                                <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body mt-3 pb-0">
                                        Was out laughter raptures returned outweigh. Luckily cheered colonel I do we attack highest enabled. Tried law yet style child. The bore of true of no be deal. Drawings offended yet answered Jennings perceive laughing six did far. Rooms oh fully taken
                                        by worse do. Points afraid but may end law lasted.
                                    </div>
                                </div>
                            </div>

                            <!-- Item -->
                            <div class="accordion-item mb-3">
                                <div class="accordion-header font-base" id="heading-2">
                                    <button class="accordion-button fw-semibold rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
								Can you describe mizzle in just one sentence?
							</button>
                                </div>
                                <!-- Body -->
                                <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body mt-3 pb-0">
                                        September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me. Engaged
                                        its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a scale. Subjects he prospect elegance followed no overcame possible it on. Improved own
                                        provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage Mr be.
                                    </div>
                                </div>
                            </div>

                            <!-- Item -->
                            <div class="accordion-item mb-3">
                                <div class="accordion-header font-base" id="heading-3">
                                    <button class="accordion-button fw-semibold collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
								Can I use this theme for my client?
							</button>
                                </div>
                                <!-- Body -->
                                <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body mt-3 pb-0">
                                        How men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me. Engaged its
                                        was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a scale. Subjects he prospect elegance followed no overcame possible it on. Improved own provided
                                        blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage Mr be. Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity
                                        inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors.
                                    </div>
                                </div>
                            </div>

                            <!-- Item -->
                            <div class="accordion-item mb-3">
                                <div class="accordion-header font-base" id="heading-4">
                                    <button class="accordion-button fw-semibold collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
								Do you offer themes in other categories?
							</button>
                                </div>
                                <!-- Body -->
                                <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body mt-3 pb-0">
                                        <p>But her ready least set lived spite solid. September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward.
                                            Frequently partiality possession resolution at or appearance unaffected me. Engaged its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a
                                            scale. Subjects he prospect elegance followed no overcame possible it on. Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage
                                            Mr be.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Item -->
                            <div class="accordion-item mb-3">
                                <div class="accordion-header font-base" id="heading-5">
                                    <button class="accordion-button fw-semibold collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
								Do I need to credit you when I use this theme?
							</button>
                                </div>
                                <!-- Body -->
                                <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body mt-3 pb-0">
                                        <p>But her ready least set lived spite solid. September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward.
                                            Frequently partiality possession resolution at or appearance unaffected me. Engaged its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a
                                            scale. Subjects he prospect elegance followed no overcame possible it on. Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage
                                            Mr be.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion END -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Faqs END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    {% endblock Content %}