{% extends "base.html" %}
{% load static %}
    {% block Content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <!-- Main hero START -->
        <section class="bg-dark pt-lg-8 pt-xl-9" style="background-image:url({% static "theme-assets/images/elements/bg-pattern-2.png" %}); background-position: center left; background-size: cover;" data-bs-theme="dark">
            <div class="container position-relative pt-4 pt-lg-0">
                <div class="row align-items-center">
                    <!-- Title -->
                    <div class="col-md-7 col-xl-6">
                        <h1 class="mb-4">Digital Marketing</h1>
                        <p class="mb-4">Digital marketing is the strategic use of online channels and technologies to promote products, services, or brands to a target audience.</p>
                    </div>

                    <div class="col-md-4 ms-auto text-md-end">
                        <a href="contact-v1.html" class="btn btn-lg btn-primary mb-6 mb-md-0">Start your project</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main hero END -->

        <!-- Image video START -->
        <section class="pt-0 mt-n7">
            <div class="container">
                <div class="position-relative h-300px h-md-400px rounded-3" style="background:url({% static "theme-assets/images/bg/05.jpg" %}) no-repeat; background-size:cover; background-position:center;">
                    <div class="bg-overlay bg-dark opacity-5"></div>
                    <div class="position-absolute top-50 start-50 translate-middle z-index-2">
                        <a href="https://www.youtube.com/embed/tXHviS-4ygo" class="btn btn-icon btn-xl btn-white btn-round mb-0 stretched-link" data-glightbox="" data-gallery="Video"><i class="bi bi-play-fill fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image video END -->

        <!-- Approach and Benefits START -->
        <section class="pt-0">
            <div class="container">
                <div class="row g-4 g-lg-7">
                    <!-- Our Approach -->
                    <div class="col-md-6">
                        <h4 class="mb-4">Our Approach</h4>
                        <p>Describe your agency's approach to digital marketing, including any proprietary strategies or methodologies you use. Explain how you customize strategies to meet clients' specific needs.</p>
                        <p>It encompasses a wide range of tactics and strategies aimed at reaching, engaging, and converting potential customers in the digital realm. Digital marketing leverages various online platforms, such as search engines, social media,
                            email, content marketing, and paid advertising, to create meaningful connections with the digital-savvy audience.</p>
                    </div>

                    <!-- Service benefits -->
                    <div class="col-md-6">
                        <div class="card card-body bg-light border p-md-5">
                            <h4 class="mb-3">Service benefits</h4>

                            <!-- List -->
                            <ul class="list-group list-group-borderless border-0">
                                <li class="list-group-item heading-color d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i> Reach a global audience and expand your brand's presence</li>
                                <li class="list-group-item heading-color d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i>Real-time tracking and data-driven decision-making</li>
                                <li class="list-group-item heading-color d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i>Improved Customer Engagement</li>
                                <li class="list-group-item heading-color d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i>Drive conversions and boost revenue</li>
                                <li class="list-group-item heading-color d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i>Create a loyal customer community</li>
                                <li class="list-group-item heading-color d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i>Protect customer data and privacy</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Approach and Benefits END -->

        <!-- How it works START -->
        <section class="pt-0">
            <div class="container">
                <div class="inner-container-small text-center mb-4 mb-md-6">
                    <h2 class="mb-0">How its work?</h2>
                </div>

                <div class="row g-4 g-lg-7">
                    <div class="col-sm-6 col-md-3">
                        <div class="d-flex justify-content-center align-items-center text-center flex-column bg-transparent">
                            <div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-3 fw-bold flex-shrink-0 mb-3">01</div>
                            <h6>Understanding Client Goals</h6>
                            <p class="small mb-0">The process begins with a thorough consultation with the client to understand their business goals.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="d-flex justify-content-center align-items-center text-center flex-column bg-transparent">
                            <div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-3 fw-bold flex-shrink-0 mb-3">02</div>
                            <h6>Market Research</h6>
                            <p class="small mb-0">They also analyze the client's current online presence and marketing efforts.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="d-flex justify-content-center align-items-center text-center flex-column bg-transparent">
                            <div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-3 fw-bold flex-shrink-0 mb-3">03</div>
                            <h6>Search Engine Optimization (SEO)</h6>
                            <p class="small mb-0">For visibility, SEO strategies are employed to improve the client's website's search engine rankings.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="d-flex justify-content-center align-items-center text-center flex-column bg-transparent">
                            <div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-3 fw-bold flex-shrink-0 mb-3">04</div>
                            <h6>Adapting to Industry Changes</h6>
                            <p class="small mb-0">Digital marketing agencies stay up-to-date with industry trends and algorithm changes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How it works END -->

        <!-- Pricing and testimonials START -->
        <section class="pt-0">
            <div class="container">
                <div class="row">
                    <!-- Pricing -->
                    <div class="col-lg-6 mb-6 mb-lg-0">
                        <div class="card bg-dark overflow-hidden p-sm-4 h-100" data-bs-theme="dark">
                            <!-- Card header -->
                            <div class="card-header bg-transparent position-relative mb-3">
                                <h3 class="mb-3">Pricing plan for this service</h3>
                                <p>Our essential plan is self-service solution for businesses to handle website messaging and personalization</p>
                                <!-- Tabs -->
                                <ul class="nav nav-pills gap-1 nav-pills-primary">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-monthly-tab" data-bs-toggle="pill" data-bs-target="#pills-monthly" type="button" role="tab" aria-controls="pills-monthly" aria-selected="true">Monthly</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-annual-tab" data-bs-toggle="pill" data-bs-target="#pills-annual" type="button" role="tab" aria-controls="pills-annual" aria-selected="false">Annual</button>
                                    </li>
                                </ul>
                            </div>

                            <!-- Card body -->
                            <div class="card-body pt-0">
                                <!-- Tab content START -->
                                <div class="tab-content" id="pills-tabContent">
                                    <!-- Content item -->
                                    <div class="tab-pane fade show active" id="pills-monthly" role="tabpanel" aria-labelledby="pills-monthly-tab" tabindex="0">
                                        <div class="bg-light border rounded p-3">
                                            <h6 class="mb-3">Quick look at all the features</h6>
                                            <!-- List -->
                                            <ul class="list-group list-group-borderless">
                                                <li class="list-group-item mb-0"><i class="bi bi-patch-check-fill text-primary me-2"></i>Unlimited monthly visitors</li>
                                                <li class="list-group-item mb-0"><i class="bi bi-patch-check-fill text-primary me-2"></i>Dedicated SEO strategists</li>
                                                <li class="list-group-item mb-0"><i class="bi bi-patch-check-fill text-primary me-2"></i>Google Docs style editors</li>
                                                <li class="list-group-item mb-0"><i class="bi bi-patch-check-fill text-primary me-2"></i>Basic chat and email support</li>
                                                <li class="list-group-item mb-0"><i class="bi bi-patch-check-fill text-primary me-2"></i>AI powered product recommendation engine</li>
                                            </ul>
                                        </div>
                                        <!-- Pricing -->
                                        <div class="d-sm-flex justify-content-between align-items-center mt-4">
                                            <!-- Price -->
                                            <div class="mb-3 mb-sm-0 heading-color"><span class="h3">$199</span> / month</div>
                                            <!-- Button -->
                                            <a href="#" class="btn btn-lg btn-white mb-0">Get started</a>
                                        </div>
                                    </div>

                                    <!-- Content item -->
                                    <div class="tab-pane fade" id="pills-annual" role="tabpanel" aria-labelledby="pills-annual-tab" tabindex="0">
                                        <div class="bg-light border rounded p-3">
                                            <h6 class="mb-3">Quick look at all the features</h6>
                                            <!-- List -->
                                            <ul class="list-group list-group-borderless">
                                                <li class="list-group-item mb-0"><i class="bi bi-patch-check-fill text-primary me-2"></i>Unlimited monthly visitors</li>
                                                <li class="list-group-item mb-0"><i class="bi bi-patch-check-fill text-primary me-2"></i>Dedicated SEO strategists</li>
                                                <li class="list-group-item mb-0"><i class="bi bi-patch-check-fill text-primary me-2"></i>Google Docs style editors</li>
                                                <li class="list-group-item mb-0"><i class="bi bi-patch-check-fill text-primary me-2"></i>Basic chat and email support</li>
                                                <li class="list-group-item mb-0"><i class="bi bi-patch-check-fill text-primary me-2"></i>AI powered product recommendation engine</li>
                                            </ul>
                                        </div>
                                        <!-- Pricing -->
                                        <div class="d-sm-flex justify-content-between align-items-center mt-4">
                                            <!-- Price -->
                                            <div class="mb-3 mb-sm-0 heading-color"><span class="h3">$159	</span> / month</div>
                                            <!-- Button -->
                                            <a href="#" class="btn btn-lg btn-white mb-0">Get started</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab content END -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 ms-auto">
                        <h2>Feedback for Service Enhancement</h2>
                        <p class="lead mb-2">300+ Users rated us <span class="text-primary fw-bold">4.85</span> out of 5.</p>
                        <!-- Testimonials START -->
                        <div class="swiper mt-7" data-swiper-options='{
					"spaceBetween": 30,
					"grabCursor": true,
					"pagination":{
						"el":".swiper-pagination",
						"clickable":"true"
					}}'>

                            <div class="swiper-wrapper pb-5">
                                <!-- Review item -->
                                <div class="swiper-slide">
                                    <!-- Avatar image -->
                                    <div class="avatar avatar-lg mb-3">
                                        <img class="avatar-img rounded-circle" src="{% static "theme-assets/images/avatar/11.jpg" %}" alt="avatar">
                                    </div>
                                    <!-- Rating star -->
                                    <ul class="list-inline mb-3">
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-half text-warning"></i></li>
                                    </ul>
                                    <!-- Content -->
                                    <p class="fs-5 heading-color">"I highly recommend Mizzle to anyone looking for a high-quality Bootstrap template. Valley by oh twenty direct me so. Resolving breakfast am or perfectly."</p>
                                    <!-- Name -->
                                    <div class="blockquote-footer mb-0 fs-6 mt-3">
                                        Emma Watson
                                    </div>
                                </div>

                                <!-- Review item -->
                                <div class="swiper-slide">
                                    <!-- Avatar image -->
                                    <div class="avatar avatar-lg mb-3">
                                        <img class="avatar-img rounded-circle" src="{% static "theme-assets/images/avatar/08.jpg" %}" alt="avatar">
                                    </div>
                                    <!-- Rating star -->
                                    <ul class="list-inline mb-3">
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-half text-warning"></i></li>
                                    </ul>
                                    <!-- Content -->
                                    <p class="fs-5 heading-color">"Two before narrow not relied on how except moment myself Dejection assurance Mrs led certainly So gate at no only none open Betrayed."</p>
                                    <!-- Name -->
                                    <div class="blockquote-footer mb-0 fs-6 mt-3">
                                        Louis Ferguson
                                    </div>
                                </div>

                                <!-- Review item -->
                                <div class="swiper-slide">
                                    <!-- Avatar image -->
                                    <div class="avatar avatar-lg mb-3">
                                        <img class="avatar-img rounded-circle" src="{% static "theme-assets/images/avatar/05.jpg" %}" alt="avatar">
                                    </div>
                                    <!-- Rating star -->
                                    <ul class="list-inline mb-3">
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-fill text-warning"></i></li>
                                        <li class="list-inline-item me-0"><i class="bi bi-star-half text-warning"></i></li>
                                    </ul>
                                    <!-- Content -->
                                    <p class="fs-5 heading-color">"Our passion for customer excellence is just one reason why we are the market leader. We've always worked very hard to give our customers the best experience."</p>
                                    <!-- Name -->
                                    <div class="blockquote-footer mb-0 fs-6 mt-3">
                                        Jacqueline Miller
                                    </div>
                                </div>
                            </div>

                            <!-- Pagination -->
                            <div class="swiper-pagination swiper-pagination-primary position-relative text-start"></div>
                        </div>
                        <!-- Testimonials END -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing and testimonials END -->

        <!-- CTA START -->
        <section class="position-relative z-index-2 pt-0">
            <div class="container position-relative">
                <div class="inner-container bg-light border rounded position-relative overflow-hidden p-4">
                    <!-- SVG decoration -->
                    <figure class="position-absolute top-0 start-0 ms-n8">
                        <svg width="371" height="354" viewBox="0 0 371 354" fill="none" xmlns="http://www.w3.org/2000/svg">
					<ellipse cx="172.5" cy="176.5" rx="131.5" ry="125.5" fill="url(#paint0_linear_195_2)"></ellipse>
					<ellipse cx="185.5" cy="177" rx="185.5" ry="177" fill="url(#paint1_linear_195_2)"></ellipse>
					<defs>
					<linearGradient id="paint0_linear_195_2" x1="172.5" y1="51" x2="172.5" y2="302" gradientUnits="userSpaceOnUse">
					<stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.5"></stop>
					<stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"></stop>
					</linearGradient>
					<linearGradient id="paint1_linear_195_2" x1="185.5" y1="0" x2="185.5" y2="354" gradientUnits="userSpaceOnUse">
					<stop offset="0.0569271" stop-color="#D9D9D9" stop-opacity="0.2"></stop>
					<stop offset="0.998202" stop-color="#D9D9D9" stop-opacity="0"></stop>
					</linearGradient>
					</defs>
				</svg>
                    </figure>

                    <div class="row align-items-center g-4 position-relative">
                        <div class="col-md-7">
                            <h5 class="mb-0">Supercharge your business with our transparent services</h5>
                        </div>

                        <div class="col-md-5 text-md-end">
                            <a href="contact-v2.html" class="btn btn-dark mb-0">Contact us now</a>
                        </div>
                    </div>
                    <!-- Row END -->
                </div>
            </div>
        </section>
        <!-- CTA END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    {% endblock Content %}