{% extends "base.html" %}
{% load static %}
    {% block Content %}    
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- Main detail START -->
        <section class="pt-lg-8 pt-xl-9">
            <div class="container pt-4 pt-lg-0">
                <div class="row">
                    <div class="col-xl-8 mx-auto">
                        <!-- Main title -->
                        <div class="text-center mb-6">
                            <h1>Terms & Conditions</h1>
                            <p class="lead mb-0">Last update on Dec 2023</p>
                        </div>

                        <h6 class="mb-3">Introduction</h6>
                        <p>Welcome to Mizzle. These terms and conditions govern your use of our website. Please read them carefully. By accessing and using our website, you agree to comply with and be bound by these terms. </p>

                        <p>If you do not agree with these terms, please do not use our website. Our terms and conditions outline the rules and guidelines for using our website, intellectual property rights, user-generated content, and more.</p>

                        <p>If you have any questions or concerns about these terms, please contact us at <a href="#" class="fw-normal text-decoration-underline">+81 555 333 45</a>. Your use of our website is also governed by our Privacy Policy,. We may update
                            these terms and conditions at any time, so please review them periodically for changes. Thank you for visiting Mizzle.</p>

                        <h6 class="mb-3 mt-5">Acceptance of Terms</h6>
                        <p>By accessing or using this website, you agree to comply with and be bound by these Terms and Conditions. If you do not agree with these terms, please do not use this website.</p>

                        <h6 class="mb-3 mt-5">Intellectual Property</h6>
                        <p>All content on this website, including text, images, graphics, and logos, is the property of Mizzle and is protected by intellectual property laws.</p>
                        <p> You may not use, reproduce, or distribute any content from this website without prior written consent from Mizzle</p>
                        <!-- List -->
                        <ul class="list-group list-group-borderless">
                            <li class="list-group-item heading-color d-flex mb-0">
                                <i class="bi bi-arrow-right me-2"></i>Receive instant notifications in Mizzle whenever there's an update or action in Slack
                            </li>
                            <li class="list-group-item heading-color d-flex mb-0">
                                <i class="bi bi-arrow-right me-2"></i>Effortlessly create, assign, and manage tasks in both platforms, ensuring nothing falls through the cracks.
                            </li>
                            <li class="list-group-item heading-color d-flex mb-0">
                                <i class="bi bi-arrow-right me-2"></i>Keep all your data consistent and up to date, whether it's customer information, project details, or important messages.
                            </li>
                        </ul>

                        <h6 class="mb-3 mt-5">Limitation of Liability</h6>
                        <p>Mizzle makes no warranties or representations about the accuracy or completeness of the content on this website.</p>

                        <p>Mizzle is not liable for any direct, indirect, consequential, or incidental damages resulting from your use of this website.</p>
                    </div>
                </div>
                <!-- Row END -->
            </div>
        </section>
        <!-- Main detail END -->

        <!-- CTA START -->
        <section class="pt-0">
            <div class="container">
                <div class="bg-dark rounded p-4 p-sm-6" data-bs-theme="dark">

                    <div class="row align-items-center">
                        <!-- Title and inputs -->
                        <div class="col-md-6">
                            <!-- Title -->
                            <h2>Let’s automate & simplify your performance</h2>
                            <p class="mb-0">Let us manage your IT for you so that you can get back to doing what you do best and we look in the future.</p>
                        </div>

                        <div class="col-md-6 text-end">
                            <a href="contact-v1.html" class="btn btn-lg btn-primary mb-0">Get started</a>
                        </div>
                    </div>
                    <!-- Row END -->
                </div>
            </div>
        </section>
        <!-- CTA END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    {% endblock Content %} 